    <div class="form-group">
      <label for="title"><h4>Blog Title</h4></label>
      <input required type="text" value="<%= post.title %>" class="form-control" name="title" id="title">
    </div>
    <div class="form-group">
        <label for="description"><h4>Description</h4></label>
        <textarea class="form-control" id="description" name="description" rows="3"><%= post.description %></textarea>
    </div>
    <div class="form-group">
        <label for="markdown"><h4>Markdown</h4></label>
        <textarea required class="form-control" id="markdown" name="markdown" rows="7"><%= post.markdown %></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    <a href="/" class="btn btn-secondary">Cancel</a>